<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TKBezierpathDraw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D511F0611C7456D2008825F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D511F07A1C7456D3008825F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D511F0851C7456D3008825F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
